[Unit]
Description=Control and monitor Raspberry Pi H-bridge.
After=syslog.target

[Service]
ExecStart=/usr/local/bin/pipichbd
Type=forking
PIDFile=/run/pipichbd.pid
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
TimeoutStopSec=10
KillMode=mixed
GuessMainPID=yes

[Install]
WantedBy=multi-user.target
