[Unit]
Description=Control and monitor Raspberry Pi power switch.
After=syslog.target

[Service]
ExecStart=/usr/local/bin/pipicswd
Type=forking
PIDFile=/run/pipicswd.pid
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
TimeoutStopSec=10
KillMode=mixed
GuessMainPID=yes

[Install]
WantedBy=multi-user.target
